{% load static %}
<!Doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Landing Page</title>
</head>

<style>
    body {
        background-image: url('{% static "images/farmr.jpeg"%}');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        height: 90%;
        margin: 0;
    }

    html {
        height: 100%;
        margin: 0;
    }

    h1 {
        color: whitesmoke;
        text-shadow: 1.2px 1.2px 1px black;
        font-size: 5em;
    }
</style>

<body>
    <div class="container h-100">
        <div class="row h-50 justify-content-center align-items-end">
            <div class="col-md-auto rounded m-4">
                <h1>Farmr.</h1>
            </div>
        </div>
        <div class="row h-50 justify-content-center align-items-start">
            <div class="col-md-auto rounded m-4">
                <button id="loginBtn" type="button" class="btn btn-outline-dark btn-lg">Log In</button>
            </div>
            <div class="col-md-auto rounded m-4">
                <button id="signupBtn" type="button" class="btn btn-outline-dark btn-lg">Sign Up</button>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    <script>
        document.getElementById("loginBtn").onclick = function () {
            location.href = "log"
        }
        document.getElementById("signupBtn").onclick = function () {
            location.href = "sign"
        }
    </script>
</body>

</html>