{% extends 'display/crops_base.html' %}
{% load bootstrap3 %}
{% load static %}
{% block content %}

    <div class="ccc" style="padding-left: 25px;height: 300px;width: 270px;float: left;padding-bottom: 25px">
    <div class="card" id="weather-card" style="background-image:url('{% static "images/pexels-lisa-fotios-1107717.jpg"%}');height: 250px ">
        <h1 class="time-font mb-0 ml-4 mt-auto">{{ weather2.day.1 }} </h1>
        <h2 class="ml-auto mr-4 mt-3 mb-0">{{ weather.city }}</h2>
                        <p class="ml-auto mr-4 mb-0 med-font">{{  weather2.description.1 }}</p>
                        <p class="ml-auto mr-4 mb-0">Rain:{{  weather2.pre.1 }}%</p>
                        <p class="ml-auto mr-4 mb-0">Humidity:{{  weather2.humidity.1 }}%</p>
                        <h1 class="ml-auto mr-4 large-font">{{  weather2.temp.1 }} C</h1>

                    </div>
    </div>
    <div class="ccc" style="padding-left: 25px;height: 300px;width: 270px;float: left;padding-bottom: 25px">
    <div class="card" id="weather-card" style="background-image:url('{% static "images/pexels-lisa-fotios-1107717.jpg"%}');height: 250px ">
        <h1 class="time-font mb-0 ml-4 mt-auto">{{ weather2.day.2 }} </h1>
        <h2 class="ml-auto mr-4 mt-3 mb-0">{{ weather.city }}</h2>
                        <p class="ml-auto mr-4 mb-0 med-font">{{  weather2.description.2 }}</p>
                        <p class="ml-auto mr-4 mb-0">Rain:{{  weather2.pre.2 }}%</p>
                        <p class="ml-auto mr-4 mb-0">Humidity:{{  weather2.humidity.2 }}%</p>
                        <h1 class="ml-auto mr-4 large-font">{{  weather2.temp.2 }} C</h1>

                    </div>
    </div>
    <div class="ccc" style="padding-left: 25px;height: 300px;width: 270px;float: left;padding-bottom: 25px">
    <div class="card" id="weather-card" style="background-image:url('{% static "images/pexels-lisa-fotios-1107717.jpg"%}');height: 250px ">
        <h1 class="time-font mb-0 ml-4 mt-auto">{{ weather2.day.3 }} </h1>
        <h2 class="ml-auto mr-4 mt-3 mb-0">{{ weather.city }}</h2>
                        <p class="ml-auto mr-4 mb-0 med-font">{{  weather2.description.3 }}</p>
                        <p class="ml-auto mr-4 mb-0">Rain:{{  weather2.pre.3 }}%</p>
                        <p class="ml-auto mr-4 mb-0">Humidity:{{  weather2.humidity.3 }}%</p>
                        <h1 class="ml-auto mr-4 large-font">{{  weather2.temp.3 }} C</h1>

                    </div>
    </div>
    <div class="ccc" style="padding-left: 25px;height: 300px;width: 270px;float: left;padding-bottom: 25px">
    <div class="card" id="weather-card" style="background-image:url('{% static "images/pexels-lisa-fotios-1107717.jpg"%}');height: 250px ">
        <h1 class="time-font mb-0 ml-4 mt-auto">{{ weather2.day.4 }} </h1>
        <h2 class="ml-auto mr-4 mt-3 mb-0">{{ weather.city }}</h2>
                        <p class="ml-auto mr-4 mb-0 med-font">{{  weather2.description.4 }}</p>
                        <p class="ml-auto mr-4 mb-0">Rain:{{  weather2.pre.4 }}%</p>
                        <p class="ml-auto mr-4 mb-0">Humidity:{{  weather2.humidity.4 }}%</p>
                        <h1 class="ml-auto mr-4 large-font">{{  weather2.temp.4 }} C</h1>

                    </div>
    </div>
    <div class="ccc" style="padding-left: 25px;height: 300px;width:270px;float: left;padding-bottom: 25px">
    <div class="card" id="weather-card" style="background-image:url('{% static "images/pexels-lisa-fotios-1107717.jpg"%}');height: 250px ">
        <h1 class="time-font mb-0 ml-4 mt-auto">{{ weather2.day.5 }} </h1>
        <h2 class="ml-auto mr-4 mt-3 mb-0">{{ weather.city }}</h2>
                        <p class="ml-auto mr-4 mb-0 med-font">{{  weather2.description.5 }}</p>
                        <p class="ml-auto mr-4 mb-0">Rain:{{  weather2.pre.5 }}%</p>
                        <p class="ml-auto mr-4 mb-0">Humidity:{{  weather2.humidity.5 }}%</p>
                        <h1 class="ml-auto mr-4 large-font">{{  weather2.temp.5 }} C</h1>

                    </div>
    </div>
    <div class="ccc" style="padding-left: 25px;height: 300px;width: 270px;float: left;padding-bottom: 25px">
    <div class="card" id="weather-card" style="background-image:url('{% static "images/pexels-lisa-fotios-1107717.jpg"%}');height: 250px ">
        <h1 class="time-font mb-0 ml-4 mt-auto">{{ weather2.day.6 }} </h1>
        <h2 class="ml-auto mr-4 mt-3 mb-0">{{ weather.city }}</h2>
                        <p class="ml-auto mr-4 mb-0 med-font">{{  weather2.description.6 }}</p>
                        <p class="ml-auto mr-4 mb-0">Rain:{{  weather2.pre.6 }}%</p>
                        <p class="ml-auto mr-4 mb-0">Humidity:{{  weather2.humidity.6 }}%</p>
                        <h1 class="ml-auto mr-4 large-font">{{  weather2.temp.6 }} C</h1>

                    </div>
    </div>
    <div class="ccc" style="padding-left: 25px;height: 300px;width: 270px;float: left;padding-bottom: 25px">
    <div class="card" id="weather-card" style="background-image:url('{% static "images/pexels-lisa-fotios-1107717.jpg"%}');height: 250px ">
        <h1 class="time-font mb-0 ml-4 mt-auto">{{ weather2.day.7 }} </h1>
        <h2 class="ml-auto mr-4 mt-3 mb-0">{{ weather.city }}</h2>
                        <p class="ml-auto mr-4 mb-0 med-font">{{  weather2.description.8 }}</p>
                        <p class="ml-auto mr-4 mb-0">Rain:{{  weather2.pre.7 }}%</p>
                        <p class="ml-auto mr-4 mb-0">Humidity:{{  weather2.humidity.7 }}%</p>
                        <h1 class="ml-auto mr-4 large-font">{{  weather2.temp.7 }} C</h1>

                    </div>
    </div>
    <div class="ccc" style="padding-left: 25px;height: 300px;width: 270px;float: left;padding-bottom: 25px">
    <div class="card" id="weather-card" style="background-image:url('{% static "images/pexels-lisa-fotios-1107717.jpg"%}');height: 250px ">
        <h1 class="time-font mb-0 ml-4 mt-auto">{{ weather2.day.8 }} </h1>
        <h2 class="ml-auto mr-4 mt-3 mb-0">{{ weather.city }}</h2>
                        <p class="ml-auto mr-4 mb-0 med-font">{{  weather2.description.8 }}</p>
                        <p class="ml-auto mr-4 mb-0">Rain:{{  weather2.pre.8 }}%</p>
                        <p class="ml-auto mr-4 mb-0">Humidity:{{  weather2.humidity.8 }}%</p>
                        <h1 class="ml-auto mr-4 large-font">{{  weather2.temp.8 }} C</h1>

                    </div>
    </div>
    <div class="ccc" style="padding-left: 25px;height: 300px;width: 270px;float: left;padding-bottom: 25px">
    <div class="card" id="weather-card" style="background-image:url('{% static "images/pexels-lisa-fotios-1107717.jpg"%}');height: 250px ">
        <h1 class="time-font mb-0 ml-4 mt-auto">{{ weather2.day.9 }} </h1>
        <h2 class="ml-auto mr-4 mt-3 mb-0">{{ weather.city }}</h2>
                        <p class="ml-auto mr-4 mb-0 med-font">{{  weather2.description.9 }}</p>
                        <p class="ml-auto mr-4 mb-0">Rain:{{  weather2.pre.9 }}%</p>
                        <p class="ml-auto mr-4 mb-0">Humidity:{{  weather2.humidity.9 }}%</p>
                        <h1 class="ml-auto mr-4 large-font">{{  weather2.temp.9 }} C</h1>

                    </div>
    </div>




{% endblock %}


